/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/fonts/inter.css ***!
  \***********************************************************************/
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url(assets/images/Inter-Thin.woff2) format("woff2"),
       url(assets/images/Inter-Thin.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url(assets/images/Inter-ThinItalic.woff2) format("woff2"),
       url(assets/images/Inter-ThinItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url(assets/images/Inter-ExtraLight.woff2) format("woff2"),
       url(assets/images/Inter-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url(assets/images/Inter-ExtraLightItalic.woff2) format("woff2"),
       url(assets/images/Inter-ExtraLightItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url(assets/images/Inter-Light.woff2) format("woff2"),
       url(assets/images/Inter-Light.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url(assets/images/Inter-LightItalic.woff2) format("woff2"),
       url(assets/images/Inter-LightItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/images/Inter-Regular.woff2) format("woff2"),
       url(assets/images/Inter-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url(assets/images/Inter-Italic.woff2) format("woff2"),
       url(assets/images/Inter-Italic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/images/Inter-Medium.woff2) format("woff2"),
       url(assets/images/Inter-Medium.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url(assets/images/Inter-MediumItalic.woff2) format("woff2"),
       url(assets/images/Inter-MediumItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/images/Inter-SemiBold.woff2) format("woff2"),
       url(assets/images/Inter-SemiBold.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url(assets/images/Inter-SemiBoldItalic.woff2) format("woff2"),
       url(assets/images/Inter-SemiBoldItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/images/Inter-Bold.woff2) format("woff2"),
       url(assets/images/Inter-Bold.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url(assets/images/Inter-BoldItalic.woff2) format("woff2"),
       url(assets/images/Inter-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/images/Inter-ExtraBold.woff2) format("woff2"),
       url(assets/images/Inter-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url(assets/images/Inter-ExtraBoldItalic.woff2) format("woff2"),
       url(assets/images/Inter-ExtraBoldItalic.woff) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(assets/images/Inter-Black.woff2) format("woff2"),
       url(assets/images/Inter-Black.woff) format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url(assets/images/Inter-BlackItalic.woff2) format("woff2"),
       url(assets/images/Inter-BlackItalic.woff) format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(assets/images/Inter-roman.var.woff2) format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url(assets/images/Inter-italic.var.woff2) format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url(assets/images/Inter.var.woff2) format("woff2");
}

/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/header/__logo/logo.css ***!
  \*************************************************************************************/
.header__logo {
  width: 142px;
  height: 33px;
  margin-left: 5px;
}

.header__line {
  padding-top: 41px;
}

@media screen and (max-width: 420px) {
  .header__logo {
    width: 100%;
    width: 104px;
  }
  .header__line {
    padding-top: 15px;
    width: 320px;
    height: 1px;
  }
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/header/header.css ***!
  \********************************************************************************/
.header {
  height: 74px;
  margin: 45px auto 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 420px) {
  .header {
    display: block;
    margin: 0;
    width: 100%;
    margin-left: 25px;
    margin-top: 10px;
  }
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/profile/__btn/profile__btn.css ***!
  \*********************************************************************************************/
.profile__btn_edit {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-color: black;
  background-image: url(assets/images/EditButton.svg);
  background-position: center;
  cursor: pointer;
}

.profile__btn_edit:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.profile__info__btn {
  width: 24px;
  height: 24px;
}

.profile__btn {
  display: flex;
  margin-left: 245px;
  align-items: center;
}

.profile__btn_add {
  background-image: url(assets/images/addbutton.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  background-color: black;
  cursor: pointer;
}

.profile__btn_add:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

@media screen and (max-width: 420px) {
  .profile__btn {
    display: flex;
    margin: 0;
    padding-top: 40px;
  }
  .profile__btn_edit {
    width: 18px;
    height: 18px;
  }
  .profile__btn_add {
    width: 282px;
    height: 50px;
    padding-top: 36px;
  }
}

@media screen and (max-width: 600px) {
  .profile__btn {
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding-top: 40px;
  }
  .profile__btn_edit {
    width: 20px;
    height: 20px;
  }
  .profile__btn_add {
    width: 282px;
    height: 50px;
    padding-top: 36px;
  }
}

/*!***********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/profile/__info/profile__info.css ***!
  \***********************************************************************************************/
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 336px;
  height: 73px;
}

.profile__name {
  width: 294px;
  height: 39px;
  margin: 0;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 22px;
  margin-right: 16px;
}

.name {
  display: flex;
  align-items: baseline;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.discription {
  width: 336px;
  height: 18px;
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

@media screen and (max-width: 400px) {
  .discription {
    width: 282px;
    height: 14px;
    display: contents;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  }
  .profile__info {
    display: flex;
    align-items: center;
  }
  .profile__name {
    width: 189px;
    margin-top: 23px;
    font-family: Inter;
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 10px;
    height: 26px;
  }

  .name {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .discription {
    width: 282px;
    height: 14px;
    display: contents;
    font-family: Inter;
    text-align: center;
  }
  .profile__info {
    display: flex;
    align-items: center;
  }
}

/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/profile/__image/profile__image.css ***!
  \*************************************************************************************************/
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 420px) {
  .profile__image {
    margin-top: 10px;
  }
}

/*!**********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/Profile/Profile.css ***!
  \**********************************************************************************/
.profile {
  display: flex;
  width: 100%;
}

.profile__container {
  display: flex;
  width: 880px;
  height: 120px;
}

.profile__avatar {
  padding-top: -4px;
  padding-right: 30px;
}

/* @media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 600px;
  }
  .profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin-bottom: 100px;
  }
  .profile__avatar {
    padding: 0;
    width: 169px;
    height: 128px;
    display: flex;
    justify-content: center;
  }
} */

@media screen and (max-width: 420px) {
  #modal-container {
    width: 100%;
  }
  .profile__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/elements/__grid/elements__grid.css ***!
  \*************************************************************************************************/
.elements__grid {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

.grid__element {
  position: relative;
  width: 282px;
  height: 361px;
  background-image: url(assets/images/Rectangle.jpg);
  border-radius: 10px 10px 10px 10px;
}

.grid__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.trash-icon {
  position: relative;
  top: -265px;
  right: -245px;
  width: 18px;
  height: 19px;
  background-image: url(assets/images/Trash.svg);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.trash-icon:hover {
  opacity: 0.5;
}

@media (max-width: 420px) {
  .elements__grid {
    display: flex;
    margin: 100px auto;
    width: 100%;
  }
}

/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/elements/__text/elements__text.css ***!
  \*************************************************************************************************/
.elements__text {
  color: black;
  margin-left: 20px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
  position: relative;
  top: -21px;
}

.elements_discription {
  width: 282px;
  height: 23px;
  position: relative;
}

/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/elements/__btn_like/elements__btn_like.css ***!
  \*********************************************************************************************************/
.like {
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url(assets/images/like.svg);
  position: relative;
  right: -245px;
  bottom: 65px;
  cursor: pointer;
}

.like:hover {
  opacity: 0.3;
  transition: opacity 0.5s;
}

.like:active {
  background-image: url(assets/images/Union.svg);
}

/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/elements/elements.css ***!
  \************************************************************************************/
.elements {
  margin: 0;
  width: 880px;
  height: 744px;
  margin-top: 51px;
}

@media screen and (max-width: 420px) {
  .elements {
    display: flex;
    margin: 0 55px;
    padding-top: 99px;
    width: 100%;
    height: 2268px;
  }
}

/* @media screen and (max-width: 600px) {
  .elements {
    display: flex;
    margin: 0 20px;
    padding-top: 99px;
    width: 600px;
    height: 100%;
  }
} */

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/footer/footer.css ***!
  \********************************************************************************/
.footer__text {
  color: #545454;
  margin-top: 64px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .footer__text {
    width: 282px;
    height: 14px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin: 110px auto 36px;
  }
  .footer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 600px) {
  .footer__text {
    text-align: center;
  }
}

/*!****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/__add/modal_add.css ***!
  \****************************************************************************************/
input[type='text']::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/__icon/modal__icon.css ***!
  \*******************************************************************************************/
.icon_close {
  background-image: url(assets/images/CloseIcon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 5px;
}

.icon_close:hover {
  opacity: 0.3;
  transition: opacity 0.3s;
}

@media screen and (max-width: 420px) {
  .icon_close {
    width: 32px;
    height: 32px;
    right: -27ox;
    top: -34px;
  }
}

/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/__btn/modal__btn.css ***!
  \*****************************************************************************************/
@media screen and (max-width: 420px) {
  .save__btn {
    width: 240px;
    height: 25px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    width: 150px;
  }

  .save__btn:invalid {
    width: 240px;
  }

  .save__btn_add:valid {
    width: 240px;
    height: 50px;
    background: #000000;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 48px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s ease, 0.3s ease;
  }

  .save__btn_add:invalid {
    background: #e5e5e5;
    border-radius: 2px;
    cursor: default;
    width: 240px;
    margin: 0;
    height: 25px;
  }

  .save__btn_disabled {
    width: 240px;
  }
  .save__btn_disabled:invalid {
    width: 240px;
  }

  .save__btn:valid {
    width: 240px;
    margin: 0;
    height: 25px;
  }
}

.save__btn:valid {
  /* width: 358px; */
  height: 50px;
  background: #000000;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 48px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease, 0.3s ease;
}

.save__btn:invalid {
  background: #e5e5e5;
  border-radius: 2px;
  cursor: default;
  width: 350px;
}

.save__btn_disabled {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 48px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.3s ease, 0.3s ease;
}

.save__btn_add:valid {
  /* width: 358px; */
  height: 50px;
  background: #000000;
  color: white;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 48px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s ease, 0.3s ease;
}

.save__btn_add:invalid {
  background: #e5e5e5;
  border-radius: 2px;
  cursor: default;
}

.save__btn_add_disabled {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 358px;
  height: 50px;
  border-radius: 2px;
  margin-top: 48px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  transition: 0.3s ease, 0.3s ease;
}

/*!*********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/__input/modal__input.css ***!
  \*********************************************************************************************/
input {
  border: none;
  outline: none;
  width: 358px;
  height: 14px;
  padding-bottom: 13px;
}

input:invalid + .modal__line {
  border: 1px solid rgba(255, 0, 0, 1);
  height: 0px;
  opacity: 0.7;
}

.input__text {
  margin: 0;
}

.modal__line {
  width: 358px;
  height: 0px;
  border: solid 1px black;
  opacity: 0.2;
  background-color: black;
  display: flex;
}

@media screen and (max-width: 420px) {
  .modal__line {
    width: 238px;
  }
  input {
    width: 200px;
  }
}

.form__input-error {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.form__input-error_des {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.form__input-error-name {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}

.form__input-error-link {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.error-message {
  color: red;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/modal.css ***!
  \******************************************************************************/
.form {
  display: flex;
  width: 430px;
  height: 330px;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  display: grid;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visiblity 0.4s;
}

.modal__box {
  position: relative;
  width: 430px;
  height: 330px;
  background-image: url(assets/images/Rectangle.jpg);
  border-radius: 10px;
  box-shadow: 0px 0px 17px -7px Orgba(34, 60, 80, 0.2);
  transform: scale(0);
  transition: transform 0.8s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
  transition: transform 0.8s;
}

.modal__container {
  margin: 34px 36px 37px 36px;
  max-width: 358px;
}

.modal__name {
  margin: 0px;
  padding-bottom: 54px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__field {
  width: 358px;
  height: 27px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}

.modal__field__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 420px) {
  .modal {
    position: absolute;
    top: 97px;
  }
  .modal__box {
    width: 290px;
    height: 290px;
  }
  .modal__field {
    width: 238px;
  }
  .modal__field__container {
    display: flex;
    align-items: center;
  }
  .modal__name {
    width: 238px;
    height: 22px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 60px;
    padding-top: 15px;
  }
  .modal__container {
    margin: 0px 25px;
  }
}

#modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal {
  position: relative;
}

#close-my-modal-btn2 {
  background-image: url(assets/images/CloseIcon.svg);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none;
  padding: 5px;
}

#modal-image {
  max-width: 100%;
  max-height: 540px;
}

.open {
  visibility: visible;
}

.modal__line:invalid {
  border: 0.7px solid rgba(255, 0, 0, 1);
  opacity: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlayEdit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__caption {
  font-size: 15pxpx;
  color: white;
  margin: 0;
}

/*!********************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/blocks/modal/__add/modal_add.css (1) ***!
  \********************************************************************************************/
input[type='text']::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/pages/index.css ***!
  \*****************************************************************************************************************/
.page{background-color:#000}.page__content{margin:0 auto;max-width:880px;width:100%}@media screen and (max-width:400px){.page{padding:0;width:320px;width:100%}}
