@import url(../elements/__grid/elements__grid.css);
@import url(../elements/__text/elements__text.css);
@import url(../elements/__btn_like/elements__btn_like.css);

.elements {
  margin: 0;
  width: 880px;
  height: 744px;
  margin-top: 51px;
}

@media screen and (max-width: 420px) {
  .elements {
    display: flex;
    margin: 0 55px;
    padding-top: 99px;
    width: 100%;
    height: 2268px;
  }
}

/* @media screen and (max-width: 600px) {
  .elements {
    display: flex;
    margin: 0 20px;
    padding-top: 99px;
    width: 600px;
    height: 100%;
  }
} */
