@import url(/src/fonts/inter.css);
@import url(/src/blocks/header/header.css);
@import url(/src/blocks/Profile/Profile.css);
@import url(/src/blocks/elements/elements.css);
@import url(/src/blocks/footer/footer.css);
@import url(/src/blocks/modal/modal.css);
@import url(/src/blocks/modal/__add/modal_add.css);
@import url(/src/blocks/loader/loader.css);
.page {
  background-color: black;
}

.page__content {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .page {
    width: 320px;
    width: 100%;
    padding: 0;
  }
}
